<h1>Reset your password</h1>
<p>
  A password reset was requested for <strong><%= @user.username %></strong> on
  <a href="https://walltaker.joi.how">walltaker</a>, an adult site for furries. If this was not you, simply ignore this
  email. If you did request this password reset, press the large button below to change your password now.
</p>

<%= link_to forgor_apply_url(@user.password_reset_token) do %>
  Reset Password Now
<% end %>

<hr/>

<small>Thanks <3</small>