<div class="task-tools">
  <div class="right">
    <%= button_to new_message_thread_path, method: :get do %>
      <ion-icon name="mail"></ion-icon>
      New thread
    <% end %>
  </div>
</div>

<h2 class="one-line">
  <ion-icon name="chatbubbles"></ion-icon>
  Goon Threads
  <span class="beta-tag">beta</span>
</h2>

<div class="threads">
  <% @message_threads.each do |message_thread| %>
    <div class="threads__thread">
      <%= link_to message_thread do %>
        <%= message_thread.users.all.map(&:username).map(&:capitalize).join ', ' %>
      <% end %>
      <%= button_to remove_user_message_thread_path(message_thread, current_user), method: :delete, class: 'no-underline secondary', title: 'delete thread' do %>
        <ion-icon name="trash"></ion-icon>
      <% end %>
    </div>
  <% end %>
</div>