<h2 class="one-line">
  <ion-icon name="chatbubbles"></ion-icon>
  <%= @message_thread.users.all.map(&:username).map(&:capitalize).join ', ' %>
</h2>

<% @message_thread.messages.each do |message| %>
  <div class="message">
    <strong><%= message.from_user.username %></strong>
    <%= message.content %>
  </div>
<% end %>