<%= turbo_frame_tag :surrender_form_wrapper do %>
  <div class="accent-block danger">
    <div class="accent-block__charm">
      <ion-icon name="nuclear"></ion-icon>
      Danger Zone
    </div>
    <p>
      Remember, you are giving up your <strong>full account</strong>, for up to 24hrs, to someone that will appear as
      you
      on the website. <strong>You can abort this once started,</strong> however damage already done by the person using
      your account is only reparable manually. (this includes social damage, they will be able to message your friends
      in
      Goon Threads, or send gross wallpapers.)
    </p>

    <%= render 'form', surrender: @surrender, friendship_options: @friendship_options %>
  </div>
<% end %>
