<%= turbo_frame_tag 'leaderboard' do %>
  <h2 class="one-line">
    <ion-icon name="flame" class="big"></ion-icon>
    Leaderboard

    <small>The top 10 users who have set the most number of wallpapers for others.</small>
  </h2>

  <ol>
    <% @top_setters.each do |setter| %>
      <li>
        <a href="<%= user_path setter.username %>" target="_top" data-controller="user-reference"><%= setter.username %></a>
        <span><%= pluralize setter.set_count, 'change' %></span>
      </li>
    <% end %>
  </ol>
<% end %>