<%= turbo_frame_tag :kink_tools do %>
  <div class="kink_tools">
    <div class="kinks">
      <%= render 'kinks', kinks: @kinks, is_current_user: @is_current_user, user: @user %>

      <%= render 'form', kink: Kink.new if @is_current_user %>
    </div>
  </div>
<% end %>