:root {
    --danger: #CC3525;
    --danger-text: #461510;
    --success: #30AA65;
}

.clickable {
    cursor: pointer;
}

button.secondary,
input[type=submit].secondary {
    background: var(--bg);
    color: var(--text);
    border: 1px solid var(--border);
}

form .field.checkbox {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin: 1rem 0;
}
form .field.checkbox input[type=checkbox] {
    margin: 0;
    height: 100%;
}
input[type=checkbox]:checked::after {
    content: " ";
    width: .1em;
    height: .25em;
    border-radius: 0;
    position: absolute;
    top: calc(50% - 0.05rem);
    left: 50%;
    background: 0 0;
    border-right: solid var(--bg) .08em;
    border-bottom: solid var(--bg) .08em;
    font-size: 1.8em;
    transform: translate(-50%, -50%) rotate(45deg);
}

@media (prefers-color-scheme: light) {
    :root {
        --border: #5b658a;
    }
}

h1 > a {
    text-decoration: none;
    background: var(--accent);
    color: var(--bg);
    padding: 0 1rem;
}

h1 > a:hover,
h1 > a:visited {
    text-decoration: none;
    color: var(--bg);
}

h1 > a:hover {
    color: var(--bg) !important;
}

header h1 .show-desktop {
    display: inline;
}

header h1 .show-mobile {
    display: none;
}

body {
    font-size: 0.9rem;
}

body > header {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

header .header__inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    max-width: 720px;
    margin: 0 auto;
    padding: 0 1rem;
}

header .header__age-warning {
    background: var(--bg);
    margin: -3px -8px 0 -8px;
    padding: 7px;
}

header .user-tools {
    display: flex;
    flex: 1 1 320px;
    justify-content: flex-end;
}

header .user-tools > a {
    white-space: nowrap;
}

header .user-tools > * + * {
    margin-left: 20px;
}

header h1 {
    display: flex;
    justify-content: flex-start;
    flex: 1 1 auto;
}

header a,
header a:hover,
header a:visited {
    text-decoration: none;
}

header a.username {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 110px;
}

header a.username,
header a:visited.username {
    color: var(--text);
}

header a:hover.username {
    color: var(--accent);
}

header a.pinged::after {
    content: '';
    display: inline-block;
    height: 0.5em;
    width: 0.5em;
    border-radius: 100%;
    background: var(--accent);
    margin-left: 0.25rem;
    transform: translateY(-0.5rem);
}

header a:hover {
    color: var(--text);
}

header a ion-icon {
    font-size: 1em;
}

header .notification-bell {
    color: var(--text);
    background: none;
    padding: 0;
    margin: 0 0 0 1rem;
}

header .notification-bell[data-has-notifs=true] {
    color: var(--accent);
}

@media screen and (max-width: 687px) {
    header h1 {
        justify-content: center;
    }
}

h2 {
    border-bottom: 1px solid var(--border);
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    font-size: 2.2rem;
    font-weight: normal;
    margin-top: 3.25rem;
}

h2.one-line {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

h2 span.beta-tag,
h3 span.beta-tag{
    background: var(--danger);
    padding: 0.25rem 0.4rem 0.3rem;
    color: #FFF;
    font-size: 0.8rem;
    transform: translateY(-1.1rem) translateX(0.4rem);;
    display: inline-block;
    border-radius: 0.3rem;
}

h2 > .online {
    font-size: 1rem;
    transform: translateY(-0.9rem);
    display: inline-block;
}

h2 ion-icon {
    transform: translateY(0.05em);
    font-size: 0.8em;
}

h2 ion-icon.big {
    transform: translateY(0.15em);
    font-size: 1em;
}

h3 {
    font-size: 1.6rem;
    margin: 1.75rem 0 0.5rem;
    font-weight: normal;
}

h4 {
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 0.25rem;
}

h4 + p {
    margin: 0 auto 2rem auto;
    max-width: 320px;
}

strong {
    color: var(--accent);
}

.page-break {
    margin-top: 12rem;
}

.half-page-break {
    margin-top: 5rem;
}

blockquote > .byline {
    text-align: right;
    padding-right: 3rem;
}

.flashes {
    display: flex;
    flex-direction: column;
}

.flashes > * {
    background: var(--accent-bg);
    padding: 0.5rem 1rem 0.6rem;
    border: 1px solid var(--border);
    border-top: 0;
}

.flashes > .unbounded {
    border-top: 1px solid var(--border);
    margin: 0.5rem 0;
}

.flashes > .flash--success {
    color: var(--success);
}

.flashes > .flash--success::before {
    content: "✅"
}

.flashes > .flash--danger {
    color: var(--danger);
}

.flashes > .flash--danger::before {
    content: "🚫"
}

p {
    line-height: 1.5rem;
}

.task-tools {
    display: flex;
    justify-content: space-between;
    height: 2.5rem;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.task-tools button ion-icon {
    transform: translateY(2px);
}

.task-tools.small {
    background: var(--border);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-top: -16px;
    padding: 0 1rem;

    --accent-small-tools: var(--bg);
    --bg-small-tools: var(--accent);
    --text-small-tools: var(--bg);
}

.task-tools.small * {
    --accent: var(--accent-small-tools);
    --bg: var(--bg-small-tools);
    --text: var(--text-small-tools);
}
.task-tools.small button,
.task-tools.small input[type=submit] {
    font-size: 1em !important;
}

.task-tools .left {
    flex: 1 0 auto;
}

.task-tools .right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1 1 320px;
    gap: 1.5rem;
}

.task-tools span > ion-icon {
    transform: translateY(0.2em);
}

.task-tools + h2 {
    margin-top: calc(3.25rem - 2.5rem);
}

.task-tools button,
.task-tools input[type=submit] {
    padding: 4px 13px;
    width: auto;
}

.task-tools .notice-right {
    animation: bounce-right 2s infinite;
}

@keyframes bounce-right {
    0%, 20%, 50%, 80%, 100% {
        transform: translateX(0);
    }
    40% {
        transform: translateX(8%);
    }
    60% {
        transform: translateX(4%);
    }
}

.mock-button {
    background: var(--accent);
    padding: 0px 8px;
    color: var(--bg);
    display: inline-block;
    border-radius: 4px;
}

.mock-link {
    padding: 0px 8px;
    color: var(--accent);
    display: inline-block;
    font-size: 1.1em;
}

.mock-online {
    display: inline-block;
    font-weight: bold;
    margin-left: 0.3rem;
    color: var(--success);
}

form.set-post-response div {
    display: flex;
    gap: 1rem;
}

form.set-post-response input,
form.set-post-response select {
    height: 2.5rem;
}

form.set-post-response input {
    flex: 1 1 90%;
}

form.set-post-response select {
    flex: 0 1 auto;
    width: auto;
    padding-right: 45px;
}

form.set-post-id {
    max-width: 329px;
    margin: 1rem auto 0;
}

form.set-post-id input {
    width: 100%;
}

.masthead {
    width: 100%;
    height: 215px;
    display: flex;
    align-items: flex-end;
}

.masthead h3 {
    color: #FFF;
    margin: 1.5rem 2rem;
    padding: 0;
}

a.clean {
    text-decoration: none;
    color: inherit;
}

a > ion-icon {
    font-size: 1.3em;
    transform: translateY(0.175em);
}

a[download],
a[download]:hover,
a[download]:visited,
a.no-underline,
a.no-underline:hover,
a.no-underline:visited {
    text-decoration: none;
}

a[download] > ion-icon,
.no-underline > ion-icon {
    margin-right: 2px;
}

button.no-underline > ion-icon {
    transform: translateY(0.1rem);
}

button.no-underline {
    margin-left: 0.5rem;
    padding: 0.4rem 0.7rem;
}

.no-margin {
    margin: 0;
}

button.secondary {
    background: var(--text);
    color: var(--bg);
}

a[download]:hover,
a.no-underline:hover {
    color: var(--text);
}

.space-between + .space-between {
    margin-left: 10px;
}

.inline,
form.button_to {
    display: inline;
}

.friendship {
    display: flex;
    align-items: center;
    padding: 0.1rem 1.7rem;
}

.friendship--pending {
    color: var(--border);
}

.friendship--pending a[data-controller=user-reference] {
    color: var(--border);
}

.friendship__names {
    flex: 1 1 320px;
}

.friendship__names > ion-icon {
    transform: translateY(0.25em);
    font-size: 1.2em;
}

label ion-icon {
    font-size: 1.1rem;
    transform: translateY(0.1rem);
}

/* Breakpoints */

@media screen and (min-width: 590px) {
    header h1 a {
        margin-right: 1rem;
    }
}

@media screen and (max-width: 475px) {
    header h1 {
        font-size: 1.5rem;
        margin: 0.5rem auto !important;
    }

    header h1 > a {
        padding: 0 6px !important;
    }

    header .user-tools {
        font-size: 0.8rem;
    }

    header .user-tools ion-icon:not(.dont-hide) {
        display: none;
    }

    header .user-tools > * + * {
        margin-left: 11px !important;
    }

    header .header__inner {
        padding: 0 0.5rem;
    }

    .friendship {
        padding: 0.1rem 0;
    }

    .friendship__names {
        flex: 1 1 100px;
    }

    .link {
        grid-template-columns: 1fr auto !important;
    }
}

@media screen and (max-width: 600px) {
    header .user-tools > * + * {
        margin-left: 16px;
    }

    header .header__inner {
        display: flex;
        flex-wrap: wrap;
    }

    header h1 {
        flex: 0 1 auto;
    }

    header h1 a {
        padding: 0 9px;
    }

    header h1 .show-desktop {
        display: none;
    }

    header h1 .show-mobile {
        display: inline;
    }

    header .user-tools {
        flex: 1 1 auto;
        padding: 8px 0;
    }

    .task-tools .right {
        gap: 0.9rem;
    }

    .task-tools button {
        padding: 4px 8px;
    }
}

.small {
    font-size: 0.85em;
}

a.small {
    text-decoration: none;
}

a.small:hover {
    filter: brightness(1.1);
}

.tight-top {
    margin-top: 0 !important;
}

.accent-block {
    background: var(--accent-bg);
    padding: 40px 1.5rem 1.5rem;
    border-radius: 8px;
    margin-top: 2.25rem;
    display: block;
}

.accent-block > p {
    margin: 0;
}

.accent-block.danger {
    border: 2px solid var(--danger);
}

.accent-block.danger > p {
}

.accent-block.danger .accent-block__charm {
    color: var(--danger);
}

.accent-block.danger button {
    background: var(--danger);
    color: #FFF;
    border: none;
}

.accent-block button.main-action {
    margin: 1rem 0 0;
}

.accent-block.spaced {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.accent-block__charm {
    color: var(--border);
    display: flex;
    align-items: center;
    gap: 7px;
    padding: 0 0 0.75rem;
    height: 0;
    transform: translateY(-100%);
}

.accent-block__charm ion-icon {
    font-size: 1.2em;
}

.accent-block h2:first-of-type {
    margin-top: 0;
}

footer small a {
    text-decoration: none;
}

.modal {
    opacity: 0;
    display: grid;
    color: var(--text);
    border-radius: 0.3rem;
    box-shadow: 0px 10px 30px 20px rgb(15, 15, 15);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--border);
    min-width: 320px;
    padding: 1rem;
    border: none;
    z-index: 9999;
    margin: 0;
    grid-template-rows: 24px 1fr;
    grid-template-areas: 'header'
                         'content';
    transition: opacity 0.3s;
    pointer-events: none;
}

.modal::after {
    content: '';
    position: fixed;
    top: 50%;
    left: 50%;
    background: var(--bg);
    z-index: -1;
    display: block;
    height: 100vh;
    width: 100vw;
    transform: translate(-50%, -50%);
    opacity: 0.8;
}

.modal__header {
    text-align: right;
    grid-area: header;
}

.modal__close-button {
    display: inline-block;
    margin: 0;
    background: none;
    color: var(--text);
    font-size: 1.5rem;
    padding: 0;
    line-height: 1rem;
}

.modal[data-open=true] {
    opacity: 1;
    pointer-events: all;
}

.modal > h4 {
    margin-top: 0;
}

.modal > p {
    padding: 0px 0.5rem;
}

.modal__buttons {
    display: flex;
    justify-content: flex-end;
    background: var(--accent);
    margin: 0 -1rem -1rem;
    border-bottom-left-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
    padding: 0.5rem 1rem;
}

@media screen and (max-width: 475px) {
    .modal {
        background: var(--accent-bg);
        bottom: 0;
        top: initial;
        left: 0;
        box-sizing: border-box;
        width: 100%;
        transform: translate(0, 100%);
        transition: all 0.2s;
    }

    .modal[data-open=true] {
        opacity: 1;
        pointer-events: all;
        transform: translate(0, 0);
    }

    .modal::after {
        top: 0;
        left: 0;
        transform: translate(0, -100%);
    }
}

.subdued {
    color: var(--border);
}

.center {
    text-align: center;
}

.notifications__popover {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    min-width: 320px;
    background: var(--accent);
    font-size: 0.9rem;
    text-align: left;
    z-index: 9999;
    transform: translate(-0.5rem, 0.75rem);
}

.notifications__popover[data-open=true] {
    display: block;
}

.notifications__popover::before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-left: 0.7rem solid transparent;
    border-bottom: 0.7rem solid var(--accent);
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(0, -0.7rem);
}

.notifications__popover > form {
    display: flex;
    justify-content: center;
}

.notifications__popover .notification {
    display: flex;
    gap: 0.75rem;
    padding: 0.75rem 1.25rem;
    color: var(--bg);
}

.notifications__popover .notification:hover {
    opacity: 0.6;
}

.notifications__popover .notification p {
    margin: 0;
}

.notifications__popover .notification time {
    display: block;
    color: var(--accent-bg);
    font-size: 0.8em;
    line-height: 1em;
    margin-bottom: 0.4em;
}

.notifications__popover .notification > ion-icon {
    font-size: 1.1rem;
    min-width: 18px;
}

.notifications__popover .notification > p {
    line-height: 1.2rem;
}

.notifications ion-icon {
    display: block !important;
}

header turbo-frame {
    display: block;
    position: relative;
    font-size: 1.1rem;
    height: 1.3rem;
    margin: 0 !important;
    width: 32px;
}

.notifications__empty {
    padding: 1rem;
    text-align: center;
    color: var(--bg);
    font-weight: bold;
    font-size: 1.1rem;
}

@media screen and (max-width: 475px) {
    .notifications__popover {
        width: 100vw;
        transform: none;
        left: 0;
        position: fixed;
        top: 0;
    }

    .notification-bell {
        margin: 0 0 0 0.2rem !important;
    }
}

turbo-cable-stream-source {
    display: none;
}

.text-charm {
    display: inline-flex;
    align-items: center;
    margin-left: 0.25em;
    text-decoration: none;
}

.text-charm__online {
    background: var(--success);
    border-radius: 100%;
    width: 0.5rem;
    height: 0.5rem;
}

.text-charm__medal {
    transform: translateY(0.2em);
    background: var(--accent-bg);
    padding: 0.175em 0.4em;
    border-radius: 0.4em;
    font-size: 1em;
    cursor: zoom-in;
    transition: transform 80ms cubic-bezier(0.16, 1, 0.3, 1);
    text-decoration: none;
}

.text-charm__medal:hover {
    transform: translateY(0.2em) scale(1.75);
}

.text-charm__medal > ion-icon {
    pointer-events: none;
}

.text-charm > small {
    font-size: 0.5em;
    text-decoration: none;
}

.text-charm__medal-driftwood { background: darkolivegreen; color: white; }
.text-charm__medal-tin { background: dimgrey; color: white; }
.text-charm__medal-bronze { background: saddlebrown; color: white; }
.text-charm__medal-silver { background: silver; color: black; }
.text-charm__medal-gold { background: goldenrod; color: black; }
.text-charm__medal-platinum { background: lightsteelblue; color: black; }
.text-charm__medal-uranium { background: greenyellow; color: black; }
.text-charm__medal-ruby { background: indianred; color: white; }
.text-charm__medal-jade { background: mediumspringgreen; color: black; }
.text-charm__medal-regal-purple { background: rebeccapurple; color: white; }
.text-charm__medal-green { background: green; color: white; }
.text-charm__medal-cum { background: lightgoldenrodyellow; color: black; border: var(--border) 1px solid; }

a[data-controller=user-reference] {
    overflow: visible !important;
}

ol {
    counter-reset: orderedlist;
    padding: 0;
}

ol > li {
    padding: 0.5em 1em;
    display: flex;
    gap: 1.5em;
}

ol > li::marker {
    content: "";
}

ol > li::before {
    content: "#" counter(orderedlist);
    counter-increment: orderedlist;
    display: inline-block;
    min-width: 3ch;
}

ol > li:nth-child(2n+1) {
    background: var(--accent-bg);
}

ol > li > * {
    flex: 1 1 100%;
}

ol > li > *:last-child {
    flex: auto;
    white-space: nowrap;
}

/* Sections are for document-like pages, like /help */
section {
    border: none;
    margin: 0;
    padding: 0;
}

section + section {
    padding-top: 1rem;
}

section ul {
    line-height: 1.6rem;
    list-style-type: square;
}

section ul.task-list {
    padding-left: 0;
    list-style-type: none;
}

section ul.task-list li + li {
    margin-top: 1rem;
}

section ul li {
    margin-bottom: 1.2rem;
}


section p ion-icon,
section li ion-icon {
    transform: translateY(1px);
    margin-left: 0.25em;
}

section img {
    display: block;
    margin-top: 1rem;
    border: 1px solid var(--preformatted);
    max-width: 420px;
    width: 100%;
}

section img.small {
    max-width: 240px;
    margin-left: auto;
    margin-right: auto;
}

section h4 {
    text-align: left;
    margin-top: 2.1rem;
    background: var(--border);
    color: var(--bg);
    display: inline-block;
    padding: 0.2rem 1rem;
    border-radius: 0.6rem;
    margin-bottom: 0.7rem;
    font-size: 1rem;
}

section h4 + p {
    margin: 0;
    max-width: initial;
}

section h4 + div {
    padding: 0.1rem 1.5rem;
    border-radius: 0.6rem;
    background: var(--accent-bg);
}

section li blockquote {
    margin-top: 1rem;
}

section h5 {
    margin-bottom: 0;
    font-size: 1em;
    color: var(--border);
    font-weight: normal;
    border-bottom: 1px solid currentColor;
}

section .then {
    display: block;
    color: var(--border);
    font-size: 1.5rem;
    font-weight: bold;
    margin: 2.5rem 0 1rem;
}

.accordion__trigger {
    margin: 1.5rem auto 0;
    display: block;
    background: var(--bg);
    color: var(--text)
}

.accordion__trigger ion-icon {
    transform: translateY(2.5px);
}

.two-col {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

@media screen and (max-width: 760px) {
    .two-col {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}
