:root {
    --danger: #CC3525;
    --success: #30AA65;
}

h1 > a {
    text-decoration: none;
    background: var(--accent);
    color: var(--bg);
    padding: 0 1rem;
}

h1 > a:hover,
h1 > a:visited{
    text-decoration: none;
    color: var(--bg);
}

h1 > a:hover {
    color: var(--bg) !important;
}

body {
    font-size: 0.9rem;
}

body > header {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

header .header__inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    max-width: 720px;
    margin: 0 auto;
    padding: 0 1rem;
}

header .user-tools {
    display: flex;
    flex: 1 1 320px;
    justify-content: flex-end;
}

header .user-tools > * + * {
    margin-left: 20px;
}

header h1 {
    display: flex;
    justify-content: flex-start;
    flex: 1 1 320px;
}

header a,
header a:hover,
header a:visited {
    text-decoration: none;
}

header a:hover {
    color: var(--text);
}

header a ion-icon {
    font-size: 1em;
}

@media screen and (max-width: 687px) {
    header h1 {
        justify-content: center;
    }
}

h2 {
    border-bottom: 1px solid var(--border);
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    font-size: 2.2rem;
    font-weight: normal;
    margin-top: 3.25rem;
}

h2 ion-icon {
    transform: translateY(0.05em);
    font-size: 0.8em;
}

h2 ion-icon.big {
    transform: translateY(0.15em);
    font-size: 1em;
}

h4 {
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 0.25rem;
}

h4 + p {
    margin: 0 auto 2rem auto;
    max-width: 320px;
}

strong {
    color: var(--accent);
}

.page-break {
    margin-top: 12rem;
}
.half-page-break {
    margin-top: 5rem;
}

blockquote > .byline {
    text-align: right;
    padding-right: 3rem;
}

body > .flashes {
    display: flex;
    flex-direction: column;
}

body > .flashes > * {
    background: var(--accent-bg);
    padding: 0.5rem 1rem 0.6rem;
    border: 1px solid var(--border);
    border-top: 0;
}

body > .flashes > .flash--success {
    color: var(--success);
}
body > .flashes > .flash--success::before {
    content: "✅"
}

body > .flashes > .flash--danger {
    color: var(--danger);
}
body > .flashes > .flash--danger::before {
    content: "🚫"
}

p {
    line-height: 1.5rem;
}

.task-tools {
    display: flex;
    justify-content: space-between;
    height: 2.5rem;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
.task-tools .left {
    flex: 1 0 auto;
}

.task-tools .right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1 1 320px;
    gap: 1.5rem;
}

.task-tools + h2 {
    margin-top: calc(3.25rem - 2.5rem);
}

.task-tools button {
    padding: 4px 13px;
}

.mock-button {
    background: var(--accent);
    padding: 0px 8px;
    color: var(--bg);
    display: inline-block;
    border-radius: 4px;
}

form.set-post-id {
    max-width: 329px;
    margin: 3rem auto 0;
}

form.set-post-id input {
    width: 100%;
}

.masthead {
    width: 100%;
    height: 215px;
    background: url('/dog.png') center center;
    background-size: cover;
    display: flex;
    align-items: flex-end;
}

.masthead h3 {
    color: #FFF;
    margin: 1.5rem 2rem;
    padding: 0;
}

a.clean {
    text-decoration: none;
    color: inherit;
}

a > ion-icon {
    font-size: 1.3em;
    transform: translateY(0.175em);
}

a[download],
a[download]:hover,
a[download]:visited,
a.no-underline,
a.no-underline:hover,
a.no-underline:visited {
    text-decoration: none;
}

a[download] > ion-icon,
a.no-underline > ion-icon {
    margin-right: 2px;
}

a[download]:hover,
a.no-underline:hover {
    color: var(--text);
}

.friendship {
    display: flex;
    align-items: center;
    padding: 1rem 2rem;
}

.friendship__names {
    flex: 1 1 320px;
}

.friendship__names > ion-icon {
    transform: translateY(0.25em);
    font-size: 1.2em;
}