.dashboard {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(195px, 1fr));
    gap: 2rem;
}

.dashboard .chart {
    margin-top: 1rem;
    margin-bottom: -6px;
}

.dashboard .chart canvas {
    width: 100% !important;
}

.dashboard table {
    margin-top: 0;
}

.dashboard h2 {
    margin-top: 0rem;
    text-align: left;
}

.dashboard__recent {
    grid-column: 1 / -1;
    grid-row: 1 / span 1;
}

.dashboard__recent a {
    text-align: center;
}

.dashboard__recent__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.dashboard__recent__content > * {
    flex: 1 1 100px;
}

.dashboard__online {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
    text-align: center;
}
.dashboard__online__content {
    font-size: 3.5rem;
    font-weight: bold;
    position: relative;
    display: inline-block;
}
.dashboard__online a,
.dashboard__online a:visited{
    color: var(--text);
}
.dashboard__online__content::after {
    content: '';
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background: var(--success);
    border-radius: 100%;
    margin-left: 0.25rem;
    position: absolute;
    top: 0.3rem;
}

.dashboard__total-updates {
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
}
.dashboard__total-updates__content {
    font-size: 1.5rem;
    text-align: center;
    line-height: 2.6rem;
    margin: 2rem 0 1rem;
}
.dashboard__total-updates__content em {
    display: block;
    font-size: 3rem;
    font-weight: bold;
    font-style: normal;
}

.dashboard__newest-user {
    grid-column: 1 / span 1;
    grid-row: 5 / span 1;
}
.dashboard__newest-user__content {
    text-align: center;
    font-size: 1.75rem;
}

.dashboard__your-total-changes {
    grid-column: 1 / span 1;
    grid-row: 4 / span 1;
}

.dashboard__updates {
    grid-column: 2 / -1;
    grid-row: 2 / span 6;
}

@media screen and (max-width: 590px) {
    .dashboard {
        grid-template-columns: 1fr;
    }

    .dashboard__updates {
        grid-column: 1 / span 1;
        grid-row: 2 / span 1;
    }

    .dashboard__online {
        grid-row: 3 / span 1;
    }

    .dashboard__total-updates {
        grid-row: 4 / span 1;
    }

    .dashboard__newest-user {
        grid-row: 6 / span 1;
    }

    .dashboard__your-total-changes {
        grid-row: 5 / span 1;
    }
}

.kofi-button ion-icon {
    font-size: 1.4em;
    margin: 0px 0 -6px 0;
}