.link {
    display: grid;
    position: relative;
    grid-template-columns: 1fr 150px;
    grid-template-rows: auto auto 1fr auto;
    gap: 10px;
    padding: 10px 15px;
    border: 1px solid #66666639;
    margin-top: 1.5rem;
    border-radius: 8px;
    grid-template-areas: 'expires      presence'
                         'terms        theme'
                         'terms        abilities'
                         'terms        blacklist'
                         'friends-only friends-only';
    overflow: hidden;
}

.text-light {
    margin-top: 0;
    color: var(--text-light);
}

/* browse page links list */
@media screen and (min-width: 1220px) {
    #links.browse-links {
        width: 100vw;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        padding: 0 1rem;
        box-sizing: border-box;
        gap: 1.5rem;
        column-count: 2;
    }

    #links.browse-links > * {
        page-break-inside: avoid;
        break-inside: avoid-column;
    }

    #links.browse-links > *:first-child .link {
        margin-top: 0;
    }
}

@media screen and (min-width: 1620px) {
    #links.browse-links {
        column-count: 3;
    }
}

@media screen and (max-width: 512px) {
    .link {
        grid-template-columns: auto auto !important;
        grid-template-areas:
                'expires      presence'
                'theme        abilities'
                'terms        terms'
                'blacklist    blacklist'
                'friends-only friends-only';
    }

    .link--theme,
    .link--abilities {
        display: flex !important;
        gap: 0.5rem;
        font-size: 0.8rem !important;
        font-weight: bold !important;
    }

    .link--abilities {
        justify-content: flex-end;
    }

    .link--theme > strong,
    .link--abilities > strong {
        display: inline-flex !important;
    }

    .link--terms {
        min-height: 27ch !important;
    }

    .link--terms blockquote {
        padding-top: 0 !important;
    }
}

.link > .link--backdrop {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -10;
    opacity: 0.3;
}
.link > .link--backdrop::before {
    content: '';
    display: block;
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background: var(--accent);
    mix-blend-mode: color;
    filter: brightness(0.2);
    z-index: 10;
}
.link > .link--backdrop img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(2px) brightness(0.5);
}

@media screen and (prefers-color-scheme: light) {
    .link > .link--backdrop::before {
        mix-blend-mode: color;
        filter: brightness(1);
    }

    .link > .link--backdrop > img {
        filter: blur(1px) contrast(0.55) brightness(1.4);
    }
}

.link em {
    color: var(--border);
}

.link em ion-icon {
    font-size: 1.2em;
    transform: translateY(0.2rem);
}

a:hover > .link {
    border-color: var(--accent);
}

.link::after {
    content: attr(data-feed-number);
    font-size: 11rem;
    font-weight: bold;
    font-style: italic;
    display: block;
    position: absolute;
    bottom: -70px;
    right: 0;
    color: var(--accent);
    opacity: 0.05;
}

.link--presence {
    grid-area: presence;
    text-align: right;
}

strong.online {
    color: var(--success);
}
strong.online ion-icon {
    transform: translateY(2px);
    font-size: 1.1em;
}

strong.online::after {
    content: '';
    display: inline-block;
    width: 1ch;
    height: 1ch;
    background: currentColor;
    border-radius: 100%;
    margin-left: 0.25rem;
}

strong.offline {
    color: var(--text);
}

.link--theme {
    grid-area: theme;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 0.8em;
    color: var(--accent);
}

.link--abilities {
    grid-area: abilities;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 0.8em;
    color: var(--accent);
}


.link--abilities span > ion-icon {
    font-size: 1.4rem;
}

.link--theme span,
.link--abilities span{
    white-space: initial;
}

.link--theme ion-icon,
.link--abilities ion-icon{
    transform: translateY(0.1em);
}

.link--expires {
    grid-area: expires;
}

.link--blacklist {
    grid-area: blacklist;
    color: var(--text-light);
    font-size: 0.8em;
}

.link--blacklist > div {
    display: flex;
    align-content: center;
    gap: 0.1rem 0.5rem;
    flex-wrap: wrap;
}

.link--blacklist > strong,
.link--theme > strong,
.link--abilities > strong {
    display: flex;
    align-items: center;
    gap: 0.2rem;
    font-weight: normal;
    font-size: 0.8rem;
    color: var(--border);
    padding-bottom: 0.2rem;
}

.link--blacklist > strong > ion-icon,
.link--theme > strong > ion-icon,
.link--abilities > strong > ion-icon {
    font-size: 1rem;
    width: 1rem;
}

.link--blacklist span::before {
    content: '-'
}

.link--terms {
    grid-area: terms;
    position: relative;
    min-height: 12ch;
}

.link--terms blockquote p {
    margin: 0;
}

.link--terms blockquote {
    overflow-y: scroll;
    margin: 0 0 0 4px;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    font-style: normal;
    border-left: 0;
    padding-left: 0;
}

.link--status-bar {
    grid-area: friends-only;
    height: 2rem;
    padding: 0.3rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 'lock name client';
}

.link--status-bar > * {
    display: flex;
    align-items: center;
}


.link--status-bar > em {
    order: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: name;
}

.link--device-in-use {
    color: var(--border);
    justify-content: flex-end;
    grid-area: client;
}

.link--device-in-use > svg {
    margin-left: 0.8rem;
}

.link--device-in-use ion-icon {
    font-size: 1.3rem;
    margin-left: 0.5rem;
}

.link--device-in-use ion-icon.apple-icon {
    transform: translateY(-2px);
}

.link--friends-only {
    align-self: flex-start;
    display: flex;
    align-items: center;
    text-decoration: none;
    grid-area: lock;
}

.link--friends-only ion-icon {
    margin-right: 0.5rem;
    font-size: 1.7rem;
}

.link--flashes {
    text-align: center;
}

.link--flashes .flash--danger,
.link--flashes .flash--success {
    display: inline-block;
    padding: 0.3rem 0.7rem;
}

.link--flashes .flash--danger {
    background: var(--danger);
    color: #dcdcdc;
}

.link--flashes .flash--success {
    background: var(--bg-accent);
    border: solid 1px var(--success);
}

/** Forms */

input[type=checkbox] {
    cursor: pointer;
    transform: translateY(-0.3em);
}

input[type=checkbox].toggle-next + * {
    display: none;
}

input[type=checkbox].toggle-next:checked + * {
    display: block;
}

input[type=text],
textarea {
    margin-bottom: 1rem;
}

label {
    margin-bottom: 0.5rem;
}

#link_theme {
    margin-top: 0.5rem;
    width: 180px;
}

.link--form__section + .link--form__section {
    margin-top: 3.5rem;
}

.link--form__section > h3 {
    display: flex;
    gap: 0.3rem;
}

.link--form__section > h3 > ion-icon {
    margin-right: 0.3rem;
    color: var(--accent);
    background: var(--accent-bg);
    padding: 0.3em;
    border-radius: 0.3em;
    font-size: 0.7em;
    box-shadow: 0px 3px 0px var(--text-light);
    border: 1px solid var(--text-light);
    transform: translateY(-0.05em);
}

.link--form__section > p {
    color: var(--border);
    margin-bottom: 1.5rem;
    margin-top: 0.75rem;
}

.link--form--theme label {
    display: flex;
    align-content: center;
    margin-bottom: 0;
    gap: 0.4rem;
}

.link--form--theme em {
    color: var(--text-light);
    font-style: normal;
}

.link--form--theme label input[type=checkbox] {
    transform: translateY(-0.1em);
}

.link--form--text-row {
    display: flex;
    align-items: center;
    margin: 0.5rem 0 1.5rem;
    gap: 1rem;
}

.link--form--text-row input,
.link--form--text-row label {
    margin: 0;
}

.link--form--submit-row {
    display: flex;
    gap: 1rem;
    margin: 2.5rem 0 4rem;
    padding: 0 3rem;
    flex-wrap: wrap;
}

.link--form--submit-row > input {
    flex: 1 1 120px;
}

.link--form--checkbox-row {
    display: flex;
    align-items: center;
    margin: 0.5rem 0 1rem;
    cursor: pointer;
}

.link--form--checkbox-row input {
    margin: 0;
}

.link--form--checkbox-row label {
    display: flex;
    align-items: center;
    margin-right: 0.5em;
}

.link--form--checkbox-row label ion-icon {
    font-size: 1.3em;
    margin-right: 0.4rem;
    transform: translateY(0em);
}

.link--form--min_score {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0rem 1rem;
    margin-bottom: 1.5rem;
    margin-top: 0.5rem;
}
.link--form--min_score label {
    flex: 1 1 100%;
}
.link--form--min_score input {
    margin: 0;
}
.link--form--min_score output {
    color: var(--border);
}

turbo-frame#pornsearch form {
    display: flex;
    gap: 1rem;
}

turbo-frame#pornsearch form input#tags {
    flex: 1 1 400px;
    margin: 0;
}

turbo-frame#pornsearch form > button {
    flex: 0 0 auto;
    margin: 0;
}

turbo-frame#pornsearch form > button ion-icon {
    transform: translateY(0.1rem);
}

turbo-frame#pornsearch_results .results {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(100px, 1fr) );
    gap: 1rem;
    justify-items: center;
    align-items: center;
    margin: 2rem 0;
}

turbo-frame#pornsearch_results .pornsearch_results__buttons {
    display: flex;
    gap: 0.5rem;
    justify-content: space-between;
    align-items: center;
    background: var(--bg);
    margin: 1rem -0 0;
    border-radius: 0.3rem;
    overflow-x: hidden;
}
turbo-frame#pornsearch_results .pornsearch_results__buttons a {
    padding: 0.5rem 1rem 0.5rem;
    background: var(--accent);
    color: var(--bg);
}

turbo-frame#pornsearch_results .pornsearch_results__buttons a[disabled] {
    pointer-events: none;
    background: var(--border);
    color: var(--disabled);
}

turbo-frame#pornsearch_results .results form {
    display: block;
    position: relative;
}

turbo-frame#pornsearch_results .results form button {
    display: block;
    background: none;
    padding: 0;
    width: 100%;
}

.link--response {
    text-align: center;
    font-size: 0.8rem;
    transform: translateY(-100%);
    max-height: 0;
    opacity: 0;
    background: var(--accent);
    padding: 0.3rem;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
    margin-top: 1.3rem;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
    color: var(--bg);

    animation: linkResponseAppear 0.5s 1s normal forwards ease-in-out;
}

.link--response::before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-left: 0.7rem solid transparent;
    border-bottom: 0.7rem solid var(--accent);
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(0, -0.7rem);
}

.link--response strong {
    color: var(--bg);
}

.link--response small {
    display: block;
}

@keyframes linkResponseAppear {
    0% {
        transform: translateY(-100%);
        max-height: 0;
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        max-height: 60px;
        opacity: 1;
    }
}

.accent-block--link {
    padding: 40px 1.5rem 1.5rem;
}

.accent-block > .link {
    margin-top: 0;
}

@media screen and (max-width: 475px) {
    .link--device-in-use span {
        display: none;
    }
}

.tabs {
    display: grid;
    grid-template-rows: 30px auto auto;
    grid-template-areas: 'charm'
                         'labels'
                         'content';
}

.tabs__charm {
    color: var(--border);
    display: flex;
    align-items: center;
    gap: 7px;
    padding: 0 0 0.75rem;
}

.tabs__labels {
    grid-area: labels;
}

.tabs__labels button {
    background: var(--bg);
    font-weight: bold;
    border-radius: 0;
    margin: 0;
    color: var(--text);
}

.tabs__labels button[data-open=true] {
    background: var(--accent-bg);
}

.tabs__labels button + button {
    margin-left: 1rem;
}

.tab {
    grid-area: content;
    padding: 1rem 1.5rem 1.5rem;
    background: var(--accent-bg);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.tab form > a {
    text-align: center;
    display: block;
    margin-top: 1rem;
}

.tab[data-open=false] {
    display: none;
}

figure > a.background-sample {
    text-decoration: none;
    position: relative;
    display: block;
}

figure > a.background-sample img {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    opacity: 1;
    object-fit: cover;
}

figure > a.background-sample img.background-sample__image--desktop {
    top: calc(50% + 6px);
    height: 96px;
    width: 136px;
}

figure > a.background-sample img.background-sample__image--mobile {
    top: calc(50% + 8px);
    height: 160px;
    width: 81px;
}

figure > a.background-sample > ion-icon {
    font-size: 180px;
    color: var(--disabled);
}

figure > a.background-sample > ion-icon.background-sample__icon--desktop {
    margin-top: -40px;
}

figure > a.background-sample > ion-icon.background-sample__icon--mobile {
    mobile-top: -10px;
    margin-bottom: 40px;
}

figcaption.link--description {
    max-height: 110px;
    overflow: scroll;
    padding: 1rem 0.5rem;
}

#comments {
    display: flex;
    flex-direction: column-reverse;
    gap: 0.5rem;
    overflow-y: scroll;
    padding: 1rem 0 0;
    flex: 1;
}

#comments > turbo-frame {
    display: contents;
}

.comment {
    display: grid;
    grid-template-columns: 95px 1fr;
    gap: 0.5rem;
}

.comment > strong {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: right;
}

.comment > p {
    margin: 0;
    line-height: inherit;
    word-wrap: anywhere;
    hyphens: auto;
}

.comment > p img {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    max-height: 190px;
    display: block;
}

.new_comment_form {
    display: flex;
    gap: 0.5rem;
    margin-top: 1rem;
    padding-top: 1rem;
    border-top: 1px solid var(--border);
}

.new_comment_form #comment_content,
.new_comment_form input[type=submit] {
    margin: 0;
}

.new_comment_form #comment_content {
    flex: 1 1 auto;
}

.new_comment_form input[type=submit] {
    flex: 0;
}

.new_comment_form input[type=submit][disabled] {
    color: var(--border);
}

.new_comment_form .field_with_errors {
    display: contents;
}

aside.comments-sidebar[data-hidden=true] {
    transform: translateX(100%);
}

aside.comments-sidebar {
    z-index: 999999;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    background: var(--bg);
    border-left: 1px solid var(--border);
    padding: 0 1rem 1rem;
    box-sizing: border-box;
    min-width: 320px;
    width: 100vw;
    max-width: 480px;
    box-shadow: 0 0 30px 5px #1111116e;
    transform: translateX(0);
    transition: transform 0.5s cubic-bezier(0.16, 1, 0.3, 1);
}

aside.comments-sidebar > button {
    background: var(--bg);
    position: absolute;
    left: 0px;
    transform: translateX(-100%);
    bottom: 74px;
    width: auto;
    padding: 0.6rem 0.4rem;
    margin: 0;
    color: var(--text);
    font-size: 1.7rem;
    line-height: 1rem;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-left: 1px solid var(--border);
    border-top: 1px solid var(--border);
    border-bottom: 1px solid var(--border);
}

aside.comments-sidebar[data-hidden=true] > button .toggle-open-icon {
    display: block;
}

aside.comments-sidebar[data-hidden=true] > button .toggle-close-icon {
    display: none;
}

aside.comments-sidebar[data-hidden=false] > button .toggle-open-icon {
    display: none;
}

aside.comments-sidebar[data-hidden=false] > button .toggle-close-icon {
    display: block;
}

aside.comments-sidebar > button .toggle-badge {
    position: absolute;
    top: 0;
    background: var(--accent);
    width: 1rem;
    height: 1rem;
    color: var(--bg);
    font-weight: bold;
    font-size: 0.8rem;
    border-radius: 1rem;
    left: 0;
    text-align: center;
}

aside.comments-sidebar > button .toggle-badge[data-hidden=true] {
    display: none;
}

@media screen and (max-width: 525px) {
    aside.comments-sidebar > button {
        position: static;
        width: 55px;
        border: none;
        border-top-left-radius: 0;
        text-align: center;
        display: flex;
        justify-content: center;
        transform: translateX(calc(-100% - 1rem));
        background: var(--accent);
        color: var(--bg);
        transition: transform 1s cubic-bezier(0.16, 1, 0.3, 1);
    }

    aside.comments-sidebar[data-hidden=false] > button {
        transform: translateX(-1rem);
        border-radius: 0;
        background: rgba(0, 0, 0, 0);
        color: var(--text);
    }
}

.viewing-users__users {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    align-items: flex-end;
}

.viewing-users__users a {
    color: var(--border);
}

.link--anchor-shade {
    height: 100%;
    width: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
}

.link--anchor-shade-container {
    position: relative;
}

.link--anchor-shade-container a:not(.link--anchor-shade) {
    position: relative;
    z-index: 9999;
}

.link-form__abilities {
    margin-top: 3rem;
}

.abilities {
    margin: 2rem 0;
}

.abilities__ability {
    display: flex;
    gap: 1rem;
}

.abilities__ability__controls button.enabled {
    background: var(--bg);
    color: var(--accent);
    border-width: 1px;
    border-color: var(--accent);
    border-style: solid;
}

.abilities__ability + .abilities__ability {
    margin-top: 1rem;
}

.abilities__ability__title {
    flex: 1;
}

.abilities__ability__title > p {
    margin: 0;
    color: var(--text-light);
    line-height: 1.4rem;
}

.abilities__ability__title strong ion-icon {
    font-size: 1.2em;
    transform: translateY(3px);
    margin-right: 0.3rem;
}

.video-icon {
    transform: translateY(2px);
    margin: 0 0.1rem 0 0.2rem;
}