.messages {
    display: flex;
    flex-direction: column-reverse;
    gap: 1rem;
    height: calc(100vh - 350px);
    min-height: 450px;
    overflow-y: scroll;
    padding: 0;
    margin: 0 0 1rem;
}

#new_message_form > form {
    display: flex;
    align-items: center;
    gap: 1rem;
}

#new_message_form button[type=submit],
#new_message_form #message_content {
    margin: 0;
    padding: 0.75rem 1rem;
}


#new_message_form button[type=submit] {
    flex: 0 0 auto;
}
#new_message_form #message_content {
    flex: 1;
}

.messages__message__container {
    display: flex;
    justify-content: flex-end;
}

.messages__message {
    flex: 0 1 auto;
    text-align: right;
}

.messages__message img,
.messages__message video {
    max-width: 80%;
}

.messages__message p + a > img,
.messages__message p + video {
    margin-top: 1rem;
}

.messages__message > p {
    background: var(--accent);
    border-radius: 0.25rem;
    text-align: right;
    color: var(--bg);
    padding: 0.5rem 0.8rem;
    margin: 0;
}

.messages__message > strong {
    text-align: right;
    display: block;
    color: var(--text-light);
    font-weight: normal;
    font-size: 0.8rem;
    margin: 0.25rem 0 0;
}

.messages__message_container--self {
    justify-content: flex-start;
}

.messages__message_container--self .messages__message {
    text-align: left;
}

.messages__message_container--self .messages__message > strong {
    text-align: left;
}

.messages__message_container--self .messages__message > p {
    text-align: left;
    background: var(--accent-bg);
    color: var(--text);
}

.threads__thread {
    display: flex;
    margin: 1rem 0;
    position: relative;
    gap: 1rem;
}

.threads__thread:hover a {
    background: var(--accent);
    color: var(--bg);
}

.threads__thread a {
    flex: 1;
    display: flex;
    align-items: center;
    background: var(--accent-bg);
    padding: 1rem 1.25rem;
    border-bottom-left-radius: 0.3rem;
    border-top-left-radius: 0.3rem;
    text-decoration: none;
}

.threads__thread form.button_to {
    display: block;
}

.threads__thread form.button_to button {
    margin: 0;
    background: var(--danger);
    color: #FFF;
    border: 0;
    height: 100%;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
    font-size: 1.4rem;
    padding: 0 1rem;
}