.past-link-posts {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    margin-top: 1.5rem;
}

.past-link-posts.past-link-posts--grid {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(100px, 1fr) );
    justify-items: center;
    justify-content: flex-start;
}

.past-link-posts > a {
    display: block;
    flex: 0 1 auto;
}

h2 > small {
    color: var(--border);
    display: block;
    font-size: 0.35em;
    margin: 1.15rem 0 0;
}

h2 > small + small {
    margin-top: 0.5rem !important;
}

h2 > span > .text-charm__medal,
h2 > span > .text-charm__medal:hover {
    transform: translateY(0.1rem) !important;
    cursor: default;
}

.details__container {
    display: grid;
}

.details__container textarea {
    width: 100%;
    min-height: 10em;
    margin-top: 1rem;
}

.details__container blockquote {
    margin: 1rem 1rem;
}

.see-all-past-wallpapers {
    display: block;
    text-align: right;
    margin: 1rem 0 2rem;
    text-decoration: none;
}

.api-key {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.api-key__key {
    font-size: 2.75rem;
    font-weight: bold;
    background: var(--disabled);
    font-family: monospace;
    padding: 0.4rem 1rem;
    border-radius: 15px;
    display: flex;
    align-items: center;
    gap: 0.7rem;
    color: var(--text);
    margin: 0.5rem 0 1rem;
}

.api-key .danger-button {
    background: var(--danger);
    color: #FFF;
}

@media screen and (max-width: 475px) {
    .api-key__key {
        font-size: 2rem;
    }
}

turbo-frame#orgasm_form {
    display: flex;
    flex-direction: column;
}

turbo-frame#orgasm_form .accent-block {
    flex: 1 1 100%;
    margin-top: 0;
}

turbo-frame.accent-block {
    margin-top: 0;
}

form.orgasms {
    padding: 0;
}

form.orgasms h3 {
    text-align: center;
    font-size: 0.9rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    color: var(--accent);
}

form.orgasms input[type=submit] {
    width: auto;
    margin: 0 auto;
    display: block;
}

.orgasms__rating {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.orgasms__rating .orgasms__rating__option {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    color: var(--accent);
    font-weight: bold;
}
.orgasms__rating .orgasms__rating__option label {
    margin-bottom: 0.2rem;
}

form.orgasms .form__row {
    justify-content: center;
}

.form__row {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    margin: 0.75rem 0;
    cursor: pointer;
}

.form__row label {
    margin: 0;
}

.form__row input[type=checkbox] {
    transform: translateY(0.1em);
}