.past-link-posts {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    margin-top: 1.5rem;
}

.past-link-posts > a {
    display: block;
    flex: 0 1 auto;
}

h2 > small {
    color: var(--border);
    display: block;
    font-size: 0.35em;
    margin: 1.15rem 0 0;
}

h2 > small + small {
    margin-top: 0.5rem !important;
}

.details__container {
    display: grid;
}

.details__container textarea {
    width: 100%;
    min-height: 10em;
    margin-top: 1rem;
}

.details__container blockquote {
    margin-top: 0;
}