<div class="details__container">
  <% if is_current_user %>
    <div class="task-tools small">
      <div class="right">
        <a href="<%= user_path(user.username) %>/edit" title="Edit my details" class="no-underline">
          <ion-icon name="build"></ion-icon>
          Edit
        </a>
      </div>
    </div>
  <% end %>
  <blockquote><%= simple_format user.details %></blockquote>
  <% if is_current_user %>
    <div class="accent-block">
      <div class="accent-block__charm">
        <ion-icon name="eye-off"></ion-icon>
        Only you see this
      </div>
      <div>
        Your API Secret: <strong><%= user.secret %></strong>
      </div>
    </div>
  <% end %>
</div>