<%= turbo_frame_tag 'profile-details' do %>
  <div class="details__container">
    <div class="task-tools">
      <div class="right">
        <a href="<%= user_path(user.username) %>/edit" title="Edit my details" class="no-underline">
          <ion-icon name="build"></ion-icon>
          Edit
        </a>
      </div>
    </div>
    <blockquote><%= simple_format user.details %></blockquote>
  </div>
<% end %>