<h2>
  <ion-icon name="skull"></ion-icon>
  I Forgor
</h2>

<p>
  This is an automated password reset system. You'll receive an email with a link to reset your password. If it never arrives, contact
  <a href="https://walltaker.joi.how/users/gray">Gray</a>.
</p>

<%= form_with url: forgor_commit_url, method: :post do |f| %>
  <div class="field">
    <%= f.label :email %><br/>
    <%= f.text_field :email %>
  </div>
  <%= f.submit 'Reset Password' %>
<% end %>