<div id="<%= dom_id orgasm %>">
  <p>
    <strong>User:</strong>
    <%= orgasm.user_id %>
  </p>

  <p>
    <strong>Is ruined:</strong>
    <%= orgasm.is_ruined %>
  </p>

  <p>
    <strong>Rating:</strong>
    <%= orgasm.rating %>
  </p>

</div>
