<h1>New orgasm</h1>

<%= render "form", orgasm: @orgasm, pornlizard: @pornlizard, friends: @friends, recent_setters: @recent_setters %>

<br>

<div>
  <%= link_to "Back to orgasms", orgasms_path %>
</div>
