<div class="friendship" id="<%= dom_id friendship %>">
  <div class="friendship__names">
    <%= friendship.sender.username %>
    <ion-icon name="heart"></ion-icon>
    <%= friendship.receiver.username %>
  </div>
  <div class="friendship__actions">
    <%= link_to @friendship, method: :delete, class: 'no-underline' do %>
      <ion-icon name="heart-dislike"></ion-icon>
      Unfriend
    <% end %>
  </div>
</div>