<div id="<%= dom_id link %>">
  <p>
    <strong>Expires:</strong>
    <%= link.expires.strftime '%A %e %b at %I:%M%p' %>
  </p>

  <p>
    <strong>Terms:</strong>
    <blockquote>
      <%= link.terms %>
    </blockquote>
  </p>

</div>
