<div id="<%= dom_id link %>">
  <p>
    <strong>Expires:</strong>
    <%= link.expires %>
  </p>

  <p>
    <strong>User:</strong>
    <%= link.user_id %>
  </p>

  <p>
    <strong>Terms:</strong>
    <%= link.terms %>
  </p>

</div>
