<% content_for(:html_title) { 'Browse Walltaker Links' } %>

<div class="task-tools">
  <div class="left">
    <%= link_to "Back to dashboard", root_path %>
  </div>
</div>

<h2>
  <ion-icon role="presentation" name="documents" class="big"></ion-icon>
  Browse Links
  <small>All public online links ordered by who needs the most attention at the top.</small>
</h2>

<div id="links" class="browse-links">
  <% @links.each do |link| %>
    <div data-controller="go" data-go-to-value="<%= link_url(link) %>">
      <%= turbo_stream_from link %>
      <%= render link %>
    </div>
  <% end %>

  <% if @links.count == 0 %>
    <h4>No one is online!</h4>
    <p>
      No links are currently being used. Maybe you should use your own? Click <strong>Links</strong> in the navigation
      bar to get started.
    </p>
  <% end %>
</div>