<% content_for(:html_title) { "Edit Link #{@link.id}" } %>

<div class="task-tools">
  <div class="left">
    <%= link_to "Back to link", @link %>
  </div>
</div>

<h2><ion-icon role="presentation" name="build"></ion-icon> Editing link</h2>

<%= render "form", link: @link %>