<% content_for(:html_title) { "Your Walltaker Links" } %>

<div class="task-tools">
  <div class="left">
    <%= link_to "Back to dashboard", root_path %>
  </div>
  <div class="right">
    <a href="<%= spawn_link_links_path %>" title="Return to wizard" class="no-underline">
      <ion-icon role="presentation" name="color-wand"></ion-icon>
      Link Wizard
    </a>
    <%= button_to "New link", new_link_path, method: :get %>
  </div>
</div>

<h2>
  <ion-icon role="presentation" name="document" class="big"></ion-icon>
  Your Links
</h2>

<%= render 'links', links: @links %>