<h2>
  <ion-icon role="presentation" name="sparkles" class="big"></ion-icon>
  Lizard Browse
  <small>Browse which users have a lizard selected.</small>
</h2>

<%= button_to "Warren", lizard_tools_warren_path, method: :get %>
<%= button_to "Ki", lizard_tools_ki_path, method: :get %>
<%= button_to "Taylor", lizard_tools_taylor_path, method: :get %>
