<%= turbo_frame_tag "pornsearch_results" do %>
  <% unless @posts.empty? || @link.id.nil? %>
    <div class="results">
      <% @posts.each do |post| %>
        <% if post['preview']['url'] %>
          <% new_link = { id: @link.id, post_id: post['id'] } %>
          <%= button_to url_for(controller: :links, action: :update, id: @link.id, link: new_link), method: :patch, data: { turbo_frame: '_top' } do %>
            <img src="<%= post['preview']['url'] %>"/>
          <% end %>
        <% else %>
          <strong>Blacklisted</strong>
        <% end %>
      <% end %>
    </div>
    <%= link_to 'next', url_for({ tags: @last_tags, after: @posts.last['id'], link: @link.id }) %>
  <% end %>
  <% if @posts.empty? %>
    <p>
      <strong>Sorry</strong> that search returned nothing. This search obeys the e621 global blacklist, and also has
      some light filtering to prevent easy abuse.
    </p>
  <% end %>
<% end %>