<div class="task-tools">
  <div class="left">
    <%= link_to "Cancel", mod_tools_index_path %>
  </div>
</div>

<h2>
  <ion-icon role="presentation" name="nuclear" class="big"></ion-icon>
  Reset Any Account's Password
  <small>Gray trusts you. Remember our PII rules.</small>
</h2>

<h3>Step 1: Get proof</h3>
<p>
  Ask something like the following: <strong>"Can you give me all or part of the email you used to make the account? I only need this to confirm this is really you."</strong> A partial email is alright, as long as it contains something on the left side of the @ symbol. If they say "it was a gmail.com address", this does not count.
</p>

<div class="accent-block accent-block--warning spaced">
  <ion-icon role="presentation" name="skull" class="scare-charm"></ion-icon>
  <div class="accent-block__charm">
    <ion-icon role="presentation" name="warning"></ion-icon>
    Be vigilant.
  </div>
  <p>If they refuse, or say they forgot entirely, you cannot reset their password. Simply refuse, explain that it's required, and end the DM. They may be manipulating you to get access to the account. <strong>This has happened before.</strong></p>
  <br/>
  <p>If they used an email hiding service, that's not an excuse for not remembering it.</p>
</div>

<h3>Step 2: Check proof and generate link</h3>
<p>
  Enter their response below. This does a check thru the user's table, looking for an email similar to the entered value. Capitalization is ignored, but it must be one whole chunk of the email address. ("gray@gmail.com" will match "pup<u>gray@gmail.com</u>", but NOT "pupg@gmail.com")
</p>

<div class="accent-block accent-block--warning spaced">
  <ion-icon role="presentation" name="skull" class="scare-charm"></ion-icon>
  <div class="accent-block__charm">
    <ion-icon role="presentation" name="warning"></ion-icon>
    Be vigilant.
  </div>
  <p>Be somewhat flexible if it's obvious they made a typo, but if there is no results, and they are sure that their email is that, end the DM. Give maybe 2 chances to try different ones.</p>
  <br/>
  <p>If they used an email hiding service, that's not an excuse for not remembering it.</p>
</div>

<%= render 'mod_tools/password_reset_form' %>

<h3>Step 3: If successful, give them the link</h3>
<p>
  Verify that you got a green checkbox in step 2, and that the user name that showed up matches what it should be for this user. If yes, <strong>you may give them the password reset link from step 2.</strong>
</p>

<p>
  If you got a red cross, this means no account was found. Use your best judgement about if user should be asked again. Remember, anyone could be trying to get into an account.
</p>