<div class="task-tools">
  <div class="left">
    <%= link_to "Cancel", mod_tools_index_path %>
  </div>
</div>

<h2>
  <ion-icon role="presentation" name="nuclear" class="big"></ion-icon>
  Edit Any User
  <small>Gray trusts you. Remember our PII rules.</small>
</h2>

<%= render 'mod_tools/pick_user_form' %>





